body {
    font-family: 'Poppins', sans-serif;
    margin: 0 0;
}

h1, h2 {
    font-weight: 500;
    margin: 0;
}

p {
    font-weight: 400;
    margin: 0;
}

ul {
    margin: 0;
    padding: 0;
}

button {
    margin: 0;
    padding: 0;
    border: none;
    cursor: pointer;
    color: rgba(250, 250, 250, 1);
    font-size: 14px;
    font-weight: 500;
    text-decoration: none;
}

a {
    text-decoration: none;
}

.container {
    margin: 0 auto;
    width: 1440px;
    padding-left: 32px;
    padding-right: 32px;
}

.btn {
    padding: 12px 24px;
    border-radius: 24px;
}

.list {
    margin: 0;
    padding: 0;
    list-style: none;
}

.list a {
    text-decoration: none;
    color: inherit;
}

.loading {
    color: rgba(250, 250, 250, 1);
    text-align: center;
    font-size: 50px;
}