.header {
    position: sticky;
    z-index: 100;
    top: 0;
    
    &__container {
        background-color: #0C0B0B;
        padding: 24px 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__search-form {
        position: relative;
        
        & input {
            background-color: inherit;
            border: 1px solid rgba(250, 250, 250, 0.3);
            padding: 12px;
            padding-left: 45px;
            padding-right: 24px;
            color: #fff;
            border-radius: 21px;
        }

        & button {
            position: absolute;
            background-color: inherit;
            border: none;
            top: 30%;
            left: 20px;
            cursor: pointer;
        }
    }

    &__icon-search {
        fill: #fff;
    }
}